.window-frame {
  box-shadow: none;
  margin: 0;
}

VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 0px 10px 0px 10px;
    -VteTerminal-inner-border: 0px 10px 0px 10px;
}

.nemo-window {
    font-family: "JetBrainsMono";
}

