@-moz-document url-prefix(about:blank) {
    body { 
        background-color: #222D31 !important;
    }
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
    body {
        background-color: #222D31 !important;
    }

    #root > div:nth-child(1) > span:nth-child(1) {
        display: none !important;
    }


    .body-wrapper {
        display: none !important;
    }

    .logo-and-wordmark {
        display: none !important;
    }

    .search-wrapper .search-inner-wrapper {
        width: 400px !important;
    }

    .search-inner-wrapper {
        min-height: 35px !important;
    }


    #newtab-search-text {
        font-family: JetBrains Mono !important;
    }

    button.search-button {
        display: none !important;
    }

    input:focus{
        border: 1px solid black !important;
        box-shadow: none !important;
    }
        
    input:active {
        border: 1px solid black !important;
        box-shadow: none !important;
    }

    input {
        background: #1E2021 16px center no-repeat !important;
        box-shadow: none !important;
        border-radius: 0px !important;
        padding-inline-start: 10px !important;
        padding-inline-end: 10px !important;

    }

    ::placeholder {
       text-align: center;
    }

    /* or, for legacy browsers */
    ::-webkit-input-placeholder {
        text-align: center;
    }

    :-moz-placeholder { /* Firefox 18- */
        text-align: center;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
    }

    :-ms-input-placeholder {
        text-align: center;
    }
}

